* {
  margin: 0;
  padding: 0;
  font-family: Arial, "Microsoft YaHei UI";
  font-size: 14px; }

.container {
  width: 100%;
  margin: 0 auto; }
  .container .header {
    margin: 0 auto;
    width: 100%;
    height: 58px;
    background: #191d3a;
    text-align: center; }
    .container .header .nav {
      margin: 0 auto;
      width: 60%;
      line-height: 58px; }
      .container .header .nav .logo {
        float: left;
        width: 174px;
        height: 58px;
        background: url("../img/logo.png") no-repeat;
        text-indent: -3000px; }
      .container .header .nav ul {
        color: #818496;
        list-style: none; }
        .container .header .nav ul li {
          float: left;
          width: 100px;
          height: 58px;
          border-right: 1px solid #818496;
          text-align: center;
          line-height: 58px;
          font-family: Arial, "Microsoft YaHei UI";
          font-size: 14px; }
        .container .header .nav ul li:hover {
          background: #252947; }
      .container .header .nav .join {
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        background: #38b774;
        float: left;
        width: 100px;
        height: 34px;
        text-align: center;
        line-height: 34px;
        margin: 12px 48px;
        color: #ffffff; }
  .container .banner img {
    width: 100%; }
  .container .body {
    padding-top: 51px;
    text-align: center; }
    .container .body ul li {
      display: inline-block;
      width: 218px;
      margin-right: 43px; }
      .container .body ul li h3 {
        color: #444866;
        line-height: 38px;
        font-size: 16px; }
      .container .body ul li p {
        width: 70px;
        color: #38b774;
        padding-right: 10px;
        background: url("../img/sanjiaoxing.png") no-repeat right;
        margin: 0 auto; }
    .container .body ul li.poker {
      margin-right: 0; }
  .container .content {
    width: 1000px;
    margin: 80px auto; }
    .container .content .cl {
      clear: both; }
    .container .content .news {
      float: left;
      width: 500px;
      height: 310px;
      background: url("../img/bynewsbg.jpg") no-repeat;
      position: relative; }
      .container .content .news .more {
        display: block;
        position: absolute;
        top: 42px;
        left: 220px; }
      .container .content .news ul {
        margin-top: 120px;
        margin-left: 20px;
        width: 460px; }
        .container .content .news ul li {
          list-style: none;
          border-bottom: 1px solid lightgrey;
          line-height: 46px; }
          .container .content .news ul li span {
            margin-right: 20px; }
            .container .content .news ul li span a {
              text-decoration: none;
              color: lightgrey; }
    .container .content .recruit {
      float: left;
      width: 500px;
      height: 310px;
      background: url("../img/byhrbg3.jpg") no-repeat;
      color: #ffffff;
      position: relative; }
      .container .content .recruit .zczp {
        position: absolute;
        top: 44px;
        left: 80px; }
      .container .content .recruit .more2 {
        position: absolute;
        top: 44px;
        left: 220px; }
      .container .content .recruit h3 {
        margin-top: 100px;
        margin-left: 20px;
        font-size: 16px; }
      .container .content .recruit ul {
        margin-left: 20px;
        width: 320px; }
        .container .content .recruit ul li {
          list-style: none;
          border-bottom: 1px solid white;
          line-height: 36px; }
          .container .content .recruit ul li a {
            text-decoration: none;
            color: #ffffff; }
  .container .footer {
    width: 100%;
    background: #191d3a;
    height: 92px; }
    .container .footer .inner_bottom {
      width: 1000px;
      margin: 0 auto;
      color: lightgrey;
      line-height: 92px; }
      .container .footer .inner_bottom .map {
        float: left;
        width: 300px;
        height: 92px; }
        .container .footer .inner_bottom .map a {
          text-decoration: none;
          color: lightgrey; }
      .container .footer .inner_bottom .copyright {
        float: left;
        width: 700px;
        height: 92px;
        text-align: right;
        position: relative; }
        .container .footer .inner_bottom .copyright img {
          width: 40px;
          position: absolute;
          top: 20px; }

/*# sourceMappingURL=main.css.map */
